<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/style.css" rel="stylesheet">

    <title>{{ name }}</title>
</head>
<body>
    <div id="particles-js"></div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#home">Walrus</a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#features" class="menu-btn" class="menu-btn">Features</a></li>
                <li><a href="#stats" class="menu-btn">Stats</a></li>
                <li><a href="/discord" class="menu-btn">Contact</a></li>
                <li><a href="/commands" class="menu-btn">Commands</li>
            </ul>
        </div>
    </nav>
    <script src="static/js/particles/particles.js"></script>
    <script src="static/js/particles/app.js"></script>
    <script src="static/js/script.js"></script>
</body>