<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <link href="/static/css/navbar.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/">{{ name }}</a></div>
            <ul class="menu">
                <li><a href="/stats" class="menu-btn">Stats</a></li>
                <li><a href="/discord" class="menu-btn">Contact</a></li>
                <li><a href="/commands" class="menu-btn">Commands</a></li>
            </ul>
        </div>
    </nav>
</body>